@{
  Layout = "_Layout";
}

@using Pierre.Models
@using System.Security.Claims

<h1 class="text-center">Home</h1>

@if(Model["Treats"].Count == 0)
{
  <h3 class="text-center">No Treats</h3>
}
else
{
  <h3 class="text-center">Treats: </h3>
<ol>
  @foreach (Treat treat in @Model["Treats"])
  {
    <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
  }
</ol>
}

@if(Model["Flavors"].Count == 0)
{
  <h3 class="text-center">No Flavors</h3>
}
else
{
  <h3 class="text-center">Flavors:</h3>
<ol>
  @foreach (Flavor flavor in @Model["Flavors"])
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
  }
</ol>
}

@if (User.Identity.IsAuthenticated)
{
  <button class="btn btn-dark">@Html.ActionLink("Create Treat", "Create")</button>

  <button class="btn btn-dark">@Html.ActionLink("Create Flavor", "Create", "Flavors")</button>
  
  <button class="btn btn-dark">@Html.ActionLink("Account", "Index", "Account")</button>
}
else
{
  <button class="btn btn-dark">@Html.ActionLink("Create account", "Index", "Account")</button>  
}
